.agents
.git
.vercel
src/client/node_modules
src/client/dist
installer/client/node_modules
installer/client/dist
src/test/functional/node_modules
src/test/functional/cypress/screenshots
src/test/functional/cypress/videos
src/vendor
src/cache/*
src/log/*
!src/cache/.gitignore
!src/log/.gitignore
